configuration {
    show-icons:             true;
    modi:                   "combi,window,drun,run";
    combi-modi:             "window,drun,run";
    terminal:               "kitty";
    matching:               "fuzzy";
    sorting-method:         "fzf";
    icon-theme:             "oomox-Catppuccin-Mocha";
    kb-remove-to-eol:       "";
}

@theme "/home/mperalta/.config/rofi/catppuccin-default.rasi"
