{{ $darwin_hostname := "none" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $darwin_hostname = output "scutil" "--get" "ComputerName" | trim -}}
{{- end }}
{{- $work := promptBoolOnce . "work" "Is this a work computer or not" false -}}
{{- $home_path := promptStringOnce . "home_path" "home path" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $git_name := promptStringOnce . "git_name" "git user name" -}}
{{- $github_username := promptStringOnce . "github_username" "github user name" -}}
{{- $git_gpg_enabled := promptBoolOnce . "git_gpg_enabled" "Enable gpg git (true/false)" false -}}
{{- $git_signingkey := "" -}}
{{- if $git_gpg_enabled }}
{{- $git_signingkey = promptStringOnce . "git_signingkey" "git gpg signingkey" -}}
{{- end }}
{{- $zsh_cdpath := promptStringOnce . "zsh_cdpath" "zsh cdpath (e.g. $HOME/golang/src/github.com/company)" -}}
{{- $onepwd_account := promptStringOnce . "onepwd_account" "onepwd_account" -}}
[data]
    work = {{ $work }}
    home_path = {{ $home_path | quote }}
{{- if eq .chezmoi.os "darwin" }}
    darwin_hostname = {{ $darwin_hostname | quote }}
{{- end }}
    zsh_cdpath = {{ $zsh_cdpath | quote }}
    email = {{ $email | quote }}
    git_name = {{ $git_name | quote }}
    github_username = {{ $github_username | quote }}
    git_gpg_enabled = {{ $git_gpg_enabled }}
{{- if $git_gpg_enabled }}
    git_signingkey = {{ $git_signingkey | quote }}
{{- end }}
    onepwd_account = {{ $onepwd_account | quote  }}
[diff]
    pager = "delta"
