* {
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  font-size: 12px;
  color: #dcdfe1;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

#workspaces,
#custom-media,
#window,
#idle_inhibitor,
#custom-notification,
#tray,
#bluetooth,
#pulseaudio,
#backlight,
#systemd-failed-units,
#power-profiles-daemon,
#custom-asus_control,
#battery,
#clock,
#custom-power
{
  background-color: rgba(15,27,53,0.8);
  margin-top: 6px;
  padding: 4px;
  border-width: 0px;
}

#workspaces,
#custom-media,
#window,
#battery
{
  padding: 4px 8px;
  border-radius: 10px; 
}

#workspaces,
#custom-media
{
  margin-left: 6px
}

#battery,
#custom-power
{
  margin-right: 6px;
}

#battery,
#custom-power
{
  border-radius: 0 10px 10px 0; 
}

#clock,
#idle_inhibitor,
#custom-lock
{
  border-radius: 10px 0 0 10px;
}

#custom-notification,
#backlight,
#custom-asus_control,
#power-profiles-daemon
{
  padding-right: 10px
}

#window {
  font-style: italic;
}

#pulseaudio.muted {
  color: #FF0000;
}

#idle_inhibitor:hover,
#tray:hover,
#custom-notification:hover,
#bluetooth:hover,
#backlight:hover,
#battery:hover,
#pulseaudio:hover,
#backlight:hover,
#clock:hover,
#custom-asus_control:hover,
#power-profiles-daemon:hover,
#custom-power:hover,
#window:hover {
  background-color: rgba(70, 75, 90, 0.9);
}

#workspaces button:hover{
  background-color: rgba(97, 175, 239, 0.2);
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button.active {
  background-color: #61afef;
  color: #ffffff;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button {
  background: transparent;
  border: none;
  color: #888888;
  padding: 2px 8px;
  margin: 0 2px;
  font-weight: bold;
}


