#!/usr/bin/env bash
exit 0

{{ template "script_darwin_only" . }}

{{ if eq .chezmoi.arch "arm64" }}
{{ template "script_no_root" . }}
{{ template "script_caffeinate" . }}
/usr/sbin/softwareupdate --install-rosetta --agree-to-license
echo "✅ Successfully installed Rosetta on Apple Silicon Mac"
{{ else }}
echo "ℹ️  Skipping Rosetta installation on non-Apple Silicon Mac"
{{ end }}
